<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
        <ul>
            <li><a href="/">blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">new blog</a></li>
        </ul>
    </nav>
    <div class="not-found content">
        404! not found
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>