<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>all blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis, nostrum sit debitis laudantium fuga facilis placeat fugiat cupiditate assumenda maxime accusamus impedit soluta aliquid repudiandae quasi, rem recusandae enim numquam aperiam. Dolore necessitatibus asperiores assumenda veniam modi rem cum repudiandae ipsa animi. Deserunt laborum doloribus perspiciatis recusandae aliquam quam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis, nostrum sit debitis laudantium fuga facilis placeat fugiat cupiditate assumenda maxime accusamus impedit soluta aliquid repudiandae quasi, rem recusandae enim numquam aperiam. Dolore necessitatibus asperiores assumenda veniam modi rem cum repudiandae ipsa animi. Deserunt laborum doloribus perspiciatis recusandae aliquam quam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis, nostrum sit debitis laudantium fuga facilis placeat fugiat cupiditate assumenda maxime accusamus impedit soluta aliquid repudiandae quasi, rem recusandae enim numquam aperiam. Dolore necessitatibus asperiores assumenda veniam modi rem cum repudiandae ipsa animi. Deserunt laborum doloribus perspiciatis recusandae aliquam quam.</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>